body {background:#232323;}
a:any-link {
    text-decoration:none;
}

:root {
	--bgcolor: #232323;
  --dark1: #171717;
  --dark2: #272727;
  --dark3: #373737;
  --dark4: #202020;
  --accent: #a24e35;
  --subcent: #513a29;
  --tricent: #9e6148;
  --spungold: #76563e;
  --textcolor: #8a8a8a; 
}

.text-accent {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
	color: var(--accent);
}
.text-jp {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
	color: var(--dark3);
}
.text-subcent {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
	color: var(--textcolor);
}
.pa {
    width: 1100px;
}

.container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 360px;
}

.pa-events {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: .58 1 auto;
    -ms-flex: .58 1 auto;
    flex: .58 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    border-radius: 16px 0px 0px 0px;
    align-self: auto;
    background: #1C1C1C;
    height: 100%;
}

.pa-intro {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: .42 1;
    -ms-flex: .42 1;
    flex: .42 1;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    background: var(--dark4);
    height: 100%;
    border-radius: 0px 16px 0px 0px;
}

.pa-rp-event {
    align-items: center;
    justify-content: center;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: .46 1 auto;
    -ms-flex: .46 1 auto;
    flex: .46 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 120px;
    box-sizing: content-box;
    align-items: inherit;
    position: relative;
    margin: auto;
}

.pa-rp-event{
    text-align: center;
}

.pa-img-event {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: .80 1 auto;
    -ms-flex: .80 1 auto;
    flex: .80 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    background: url('https://i.ibb.co/94bFsGy/kaguya.png');
    background-size: cover;
    height: 100%;
}

.pa-rp-event-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    align-content: start;
}
.pa-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    flex: 0 0 auto;
    margin: 8px;
    padding: 8px;
    color: var(--dark3);
}
.pa-icon::before {
    content: " ";
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 100%;
    border: 2px solid rgba(55, 55, 55, 0.32);
}

.rp-events {
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.rp-events>* {
    flex: 1 1 80px;
    margin: 4px;
    flex-basis: auto;
    height: 60px;
    background: var(--dark1);
    width: 118px;
    border: 2px solid #222222;
}
.rpevents-feat {
    position: relative;
    width: auto;
    height: 40px;
    font-size: 12px;
    padding: 10px 15px 10px 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 1;
    -moz-opacity: 1;
    transition: all ease 0.2s;
}

.rpevents-feat:hover {
    width: auto;
    height: 40px;
    opacity: 0.75;
}

.rpevents-feat h1 {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: left;
    color: var(--textcolor);
}
.text-intro-before {
font-family: 'Hind';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.08em;
text-transform: uppercase;
color: var(--textcolor);
}

.text-intro-logo {
font-family: 'Ninja Naruto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;
color: var(--accent);
}
.text-intro-baseline {
font-family: 'Hind';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 19px;
text-transform: uppercase;

color: #A24E35;
}
.text-intro-lore {
font-family: 'Hind';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
text-align: justify;
color: var(--textcolor);
}
.pa-intro div{
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    margin: 10px 0px 10px 20px;
    padding: 0px 30px 0px 0px;
    overflow-y: scroll;
}
.pa-rumors-container{
    width:auto;
    background-color: var(--dark1);
    height: 76px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}
.pa-rumors {
    align-items: center;
    -ms-flex-order: 0;
    -webkit-flex: .60 1 auto;
    -ms-flex: .60 1 auto;
    display: flex;
    position: relative;
    margin: 0px;
    height: 76px;
}
.pa-discord {
    align-items: center;
    justify-content: center;
    -webkit-order: 0;
    text-align: right;
    width: 42%;
    gap: 8px;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: .40 1 auto;
    -ms-flex: .40 1 auto;
    flex: .40 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: center;
    padding: 16px;
    display: flex;
}
.pa-discord a {
    display: flex;
    align-items: center;
    gap: 8px;
}
.pa-rumors-text{
    border-right: 1px solid #202020;
}
.rumor {
    padding: 16px;
    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    color: var(--textcolor);
}
.discord-img {
    position: relative;
    width: 50px;
    height: 32px;
}
.staff-img {
    width: 246px;
    height: 146px;
    background-size: cover;
    border: 2px solid #171717;
}
.pa-footer {
    -ms-flex-order: 0;
    -ms-flex: .42 1;
    -ms-flex-item-align: auto;
    background: var(--dark4);
    height: 300px;
    border-radius: 0px 0px 16px 16px;
}
.news-texts {
    width: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    margin: 0 16 16 16px;
}
.news-texts>* {
    height: 76px;
    align-items: center;
    font-family: 'Hind';
    font-style: normal;
    width: 400px;
    font-weight: 400;
    font-size: 12px;
    text-align: justify;
    color: var(--textcolor);
    text-align: justify;
}
.news-section {
    height: 190px;
    overflow-x: auto;
}
.news-texts>p {
    margin: 0px 16px 16px 16px;
}
#news-title {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
	color: var(--accent);
}

#news-title + span {
font-family: 'Hind';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 26px;
letter-spacing: 0.08em;
text-transform: uppercase;
color: var(--dark3);
}
.pa-news-title {
    align-items: center;
    display: flex;
}
.pa-features {
    row-gap: 8;
    height: 54px;
    border-bottom: 1px solid #171717;
    width: 40%;
    align-items: right;
}
.features-section {
    color: var(--subcent);
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 16px;
}
.pa-credits {
    margin: 16px;
    display: inline-table;
}

.shuriken-img {
    background: url(https://i.ibb.co/tqVq3zs/shuriken.png) no-repeat;
    width: 233px;
    position: absolute;
    margin: 40px 0px 0px 220px;
    height: 232px;
}
.pa-topsites {
    display: flex;
    height: 54px;
    border-top: 1px solid #171717;
    position: absolute;
}