/* INFINITE TSUKUYOMI THEME BEGIN*/
/* Scrollbar */

::-webkit-scrollbar { /*taille dans les messages ou fiches */
  height: 2px;
  width: 4px;
  background-color: var(--dark1); /* couleur de fond */
}
html > ::-webkit-scrollbar {
  width: 6px; /* largeur de la barre du forum */
}
::-webkit-scrollbar-thumb {
  background: var(--accent); /* couleur de la barre qui se déplace */
  border-radius: 50px;  /* Arrondis */
}
::-webkit-scrollbar-track-piece {
  background-color: var(--dark1); /* couleur de fond */
}
#wrap {
    margin: 0 auto;
    width: 1160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ROOT */
:root {
	--bgcolor: #232323;
    --dark1: #171717;
    --dark2: #272727;
    --dark3: #373737;
    --dark4: #202020;
    --dark5: #1C1C1C;
    --accent: #a24e35;
    --subcent: #513a29;
    --textcolor: #8a8a8a; 

    --akatsuki: #D45C4C;
    --ototsuki: #B5CBDE;
    --nukenin: #907AAB;
    --shinobi: #BD845C;
}
p + tbody {
  font-family: 'Hind';
}
#page-header {
  z-index: 99 !important;
}
#logo img {
    width: 100vh;
}
a:link, a:visited, a:active {
	text-decoration: none;
	color: var(--accent);
	transition: all ease 0.4s;
}

a:hover {
  color: var(--accent);
}

select {
	color: var(--textcolor);
	background: var(--dark2);
	border-radius: 0px;
	border: 2px solid var(--subcent);
	font-family: 'Hind';
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 3px 5px 2px 5px;
}

/* TOOLTIP */

#s-m-t-tooltip {
	max-width: 300px;
	z-index: 999;
	margin: 8px 14px 7px 12px;
	padding: 5px 8px;
	border: 1px solid var(--bgcolor);
	background: var(--second);
	font-size: 8px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	color: var(--bgcolor);
}


body {
  box-sizing: border-box;
  font-family: inter var;
  font-size: 12px;
  color: var(--text);
  margin: 0; padding: 0;
  background-size: 300px 300px;
  background-image:
    linear-gradient(to right, #12121210 1px, transparent 1px),
    linear-gradient(to bottom, #12121210 1px, transparent 1px);
  background-position: 50% 0%;
  background-attachment: fixed;
  overflow-x: hidden;
}

/* NAV */
.navigation {
  position: fixed;
  width: 60px;
  height: 100vh;
  background-color: var(--dark1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 10px;
  z-index: 999;
}
.js-avatar {
  overflow: hidden;
  margin: 15px auto 20px auto;
  width: 40px;
  height: 40px;
  background-color: var(--dark1);
  background-size: cover;
  border-radius: 100%;
  border: 3px solid var(--dark4);
}
.js-avatar img {
width:100%;
background-blend-mode: color-burn;
transition: all ease 0.3s;
}
.js-avatar img:hover {
  width:100%;
  opacity: 0.75;
  }
.it-name {
    position: relative;
    width: 45px;
    height: 250px;
}
.it-name span {
    display: block;
    transform: rotate(-90deg);
    transform-origin: top left;
    position: absolute;
    height: 45px;
    width: 250px;
    top: 250px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#pseudo_menu {
    color: var(--accent);
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    top: 1px;
    font-family: 'Hind', sans-serif;
}
.itnav-links {
    margin: 30px 0;
    font-size: 18px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--subcent);
    align-items: center;
}
.topnav-tray {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 75px);
    position: relative;
    transition: all ease 0.4s;
}
.itnav-links a { margin-bottom: 15px; }
.e_nav{
  display:flex;
}
.e_nav_ava{
  width:100px;
  height:100px;
}
.e_menu{
  display:flex;
  align-items:center;
}
.itnav-links li {
  list-style-type: none;
  margin-bottom: 8px;
}
.itnav-links a[href="/"] {
	display: none !important;
}
.itnav-links a[href="/"]:before {
    content: "\f0e0";
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
}
.itnav-links a[href="/calendar"] {
display: none !important;
}
.itnav-links a[href="/faq"] .text {
display: none !important;
}
.itnav-links a[href="/faq"]:after { 
display: none !important;
}
.itnav-links a[href="/search"]:after {
display: none !important;
}
.itnav-links a[href="/groups"]:before {
display: none !important;
}
.itnav-links img {
  display: none !important;
}
.itnav-links a:before {
  color: var(--subcent);
}
.itnav-links a:hover::before {
  color: var(--dark3)!important;   transition: all ease 0.4s;
}
.itnav-links a[href="/admin/?part=admin&tid=64b7dde79b848559adc7928c63f5a4"]:before { 
font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f023";font-size: 16px;
}
.itnav-links a[href*="/f13-mission-kioske"]:before {
font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f70e";font-size: 16px;
}
.itnav-links a[href="/memberlist"]:before {
font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f504";font-size: 16px;
}
.itnav-links a[href*="/profile"]:before {
font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f52d";font-size: 16px;
}
.itnav-links a[href*="/privmsg"]:before {
font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0e0";font-size: 16px;
}
.itnav-links a[href*="/login"]:before {
font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f52b"; font-size: 16px;
}
.itnav-links a[href*="/login?logout"]:before {
font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f52a"; font-size: 16px;
}
.itnav-links a[href*="/register"]:before {
font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f520";font-size: 16px;
}

/* CSS BAN ANIMATION */
@keyframes animName {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}

}

/*Header*/
#it-header {
  width: 100%;
  height: 100vh;
  top: 20px;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1; -moz-opacity: 1;
  transition: all ease 1s;
  pointer-events: none;
}

.headerfade {
  filter: grayscale(100%);
  visibility: hidden!important;
  opacity: 0!important; -moz-opacity: 0!important;
  transition: all ease 1.5s;
}

.it-header-img {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url('https://i.ibb.co/gZ7m0Ck/BAN-Madara.png');
    background-size: 48%;
    background-repeat: no-repeat;
    mix-blend-mode: ;
    z-index: 1;
    background-position: center;
  margin-bottom: -20px;
}
.it-header-tomoe-img {
  animation: animName 60s linear infinite reverse;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url('https://i.ibb.co/dkKXpGJ/tomoe.png');
  background-size: 48%;
  background-repeat: no-repeat;
  mix-blend-mode: ;
  z-index: 1;
  background-position: center;
margin-bottom: -20px;
}

.it-header-title {
    width: 550px;
    letter-spacing: -5px;
    font-family: 'Ninja Naruto';
    font-style: normal;
    font-weight: 400;
    padding-top: 360px;
    font-size: 96px;
    line-height: 70px;
    text-align: center;
    color: #C1BDAC;
    z-index: 2;
}
h1 {
    position: relative;
    z-index: 2;
    font-family: 'Ninja Naruto';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 106px;
    text-align: center;
    text-shadow: 0px 4px 4px rgb(55 55 55 / 24%);
    margin-top: -90px;
    color: #C1BDAC;
}
h2 {
    font-family: 'Hind';
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 12px;
    text-transform: uppercase;
    ser-select: none;
    position: relative;
    z-index: 2;
    color: #C1BDAC;
    text-shadow: 0px 4px 4px rgb(55 55 55 / 24%);
}
.it-title-img {
    animation: animName 2s cubic-bezier(1, 0.2, 0.2, 1) infinite;
    width: 40px;
    margin: auto;
    height: 40px;
    background-image: url(https://i.ibb.co/n8vvHBC/BAN-shuriken.png);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
}
/* QUICK REPLY */
textarea, input:focus {
  outline: 2px solid var(--subcent);
}
form#quick_reply #textarea_content textarea#text_editor_textarea {
  width: 100%!important;
  background: var(--dark4);
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  color: #777777;
  border: 6px solid var(--dark1);
}
#textarea_content textarea#text_editor_textarea {
  width: 100%!important;
  height: 250px;
  background: var(--dark5);
  font-size: 14px;
  padding: 24px;
  border: 1px solid var(--dark1);
}
.panel {
  box-shadow: red 1px solid;
  background: var(--dark4);
  border: 1px solid var(--dark1);
  border-radius: 0px 0px 16px 16px;
  border-radius: 3px;
  margin-bottom: 24px;
  overflow: hidden;
  padding: 18px 18px 0;
  position: relative;
}
dt label {
  display: block;
  font-weight: 500;
  margin-top: 8px;
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 26px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #777777;
  text-align: left;
}
.inputbox medium smt-current-element:hover {
  color: #777777;

}
input.medium, select.medium:hover {
  color: #777777;
}

h3,.h3 {
color:var(--accent);
font-family:Hind;
font-style:normal;
font-weight:600;
line-height:26px;
text-transform:uppercase;
font-size:1.6rem;
text-align:left;
letter-spacing:2px;
border-color:transparent;
border-width:0 0 1px;
padding:24px 0 0;
}
input[type="text"], .inputbox {
  background-color: var(--dark5);
  color: var(--textcolor);
  border-bottom: 1px solid var(--dark1);
  cursor: text;
  font-size: 1.2rem;
  padding: 10px 0 9px;
}
/* BTNS */
input[type="submit"], .button, .button1, .button2, input[type="submit"]:link, input[type="submit"]:visited, input[type="submit"]:active, input[type="submit"]:hover, .button:link, .button:visited, .button:active, .button:hover, .button1:link, .button1:visited, .button1:active, .button1:hover, .button2:link, .button2:visited, .button2:active, .button2:hover {
  background: var(--dark5);
  padding: 10px;
  border-radius: 2px;
  border: 2px solid var(--dark2);
font-family: 'Hind';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 19px;
text-transform: uppercase;
box-shadow: none;
letter-spacing: 1.6px;
color: var(--accent);
}

/* PAGE RP */
.suj_btn_edit{
  position: relative;
  left: 24px;
}
.content {
  color: var(--textcolor);
  word-wrap: break-word;
  line-height: 1.4em;
  font-family: 'Roboto',sans-serif;
  font-size: 1em;
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  color: #777777;
}
.total_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  background: var(--dark1);
  padding: 24px;
  gap: 72px;
  font: 8px roboto;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  line-height: 26px;
  flex-direction: row;
  align-items: center;
}
.sujet_nat {
  width: 500px;
  text-transform: uppercase;
  font-size: 16px;
  text-align: left;
  font-family: 'Ninja Naruto';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
}
.bottom_nav {
  text-align: left;
  margin: 0px 0px 15px 0px;
  background: var(--dark1);
  padding: 5px;
  border: solid 1px var(--dark4);
  font: 8px roboto;
  line-height: normal;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 0 44px;
  display: flex;
  align-items: center;
  font-family: Hind;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
}
.bottom_nav a {
  background: var(--dark5);
  padding: 3px 5px 1px 5px;
  border-radius: 2px;
  border: 2px solid var(--dark2);
}

.pagin_suj {
}
.pagin_suj a {
}
.post {
  border-color: transparent;
  margin: 0px;
}
.suj_g {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px 30px 30px 30px;
  background: rgba(0, 0, 0, 0.3);
  margin: 20px 15px 20px 10px;
  overflow: hidden;
  position: relative;
  margin: 0px;
  bottom: 16px;
}
.suj_ava {
  width: 120px;
  height: 120px;
  overflow: hidden;
  outline-offset: 12px;
  outline: 1px solid #111;
  position: relative;
  right: 40px;
}
.suj_ava img {
width:100%;
}
.suj_blok_infos {
  width: 710px;
  position: relative;
  right: 64px;
}
.suj_name {
  text-transform: uppercase;
  font-family: 'hind';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.suj_rang {
  color: #863c3c;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Hind';
  padding: 8px;
  width: fit-content;
  font-style: normal;
  background: var(--dark5);
  border: 1px solid var(--bgcolor);
  border-radius: 2px;
  font-weight: 700;
  font-size: 11px;
  text-align: left;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.suj_top_info {
  background: var(--dark5);
  padding: 24px;
  display: flex;
  align-items: center;
  position: relative;
  gap: 530px bottom: 16px;
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  gap: 500px;
  position: relative;
  bottom: 16px;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--dark3);
  align-content: center;
}
.titre_suj {
  position: relative;
  left: 24px;
}
.suj_btn_edit a {
  background: var(--dark4);
  margin: 0px 16px 0px 0px;
  padding: 8px 16px;
}
.suj_epsi {
  background: var(--dark4);
  padding: 32px 200px;
  text-align: justify;
  bottom: 16px;
  align-items: center;
  position: relative;
  justify-content: center;
}
.sujet_epsi, .postbody {
  display: flex;
  align-items: center;
}
.postbody {
  background: var(--dark5);
  width: 200px;
  float: none;
  margin: auto;
  width: 100%;
  display: flex;
  font-size: 1.2rem;
  border: Solid 1px var(--dark2);
  margin-right: 211px;
  padding: 32px;
  word-break: break-word;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.survsujet {
  text-align: center;
  background: var(--dark5);
  padding: 16px;
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  bottom: 16px;
  margin-bottom: -15px;
  /* height: 50px; */
  line-height: 19px;
  text-transform: uppercase;
  position: relative;
  font: 8px roboto;
  letter-spacing: 1px;
  font-size: 11px;
}
.topic_aut {
  text-align: left;
  margin: 20px 0px 15px 0px;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px;
  border: solid 1px #131313;
  text-transform: uppercase;
}
.topic_aut p{
font: 8px roboto !important;
color:#cbcbcb;
}

/* LIST TOPIC CATO */
.totalsujets {
    position: relative;
    width: 100%;
    border: 1px dashed #dadada;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: flex-end;
    background: var(--dark4);
    border: solid 6px var(--dark1);
    flex-direction: row-reverse;
    align-items: center;
}
.titleettruc {
    padding-left: 40px;
}
.titlesuj {
    position: absolute;
    flex-direction: column;
    width: 400px;
    line-height: 28px;
    align-items: flex-start;
}
.titlesuj a {
    text-transform: uppercase;
    text-align: left;
    font-family: 'Ninja Naruto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}
.descriptionsujet {
    text-align: justify;
    color: var(--textcolor);
    font-family: 'Hind';
    font-style: normal;
    font-weight: 700;
    position: relative;
    font-size: 10px;
    position: absolute;
    top: 100px;
    line-height: 19px;
    text-align: left;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-transform: capitalize;
}
.infosposter {
    font-family: 'Hind';
    display: flex;
    font-style: normal;
    position: relative;
    font-weight: 700;
    width: fit-content;
    left: 390px;
    box-shadow: none;
    flex: 1 1 200px;
    letter-spacing: 1.6px;
    padding: 8px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 10px;
    width: 76%;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.infosposter-author, .infosposter-lastpost, .infosposter-lastposttime {
    padding: 8px 14px 8px 8px;
    width: fit-content;
}
.infosposter-author a, .infosposter-lastpost a, .infosposter-lastposttime a {
    border-bottom: 2px solid var(--dark3);
}
.lastvavasuj {
    width: 80px;
    border: 5px solid var(--dark1);
    height: 80px;
    overflow: hidden;
    border-radius: 2px;
}
.lastvavasuj img {
  width:100%;
}
.trukenbas {
    float: left;
    margin-right: -18px;
    gap: 16;
    padding: 5px 0px 0px 0px;
    display: flex;
}
.trukenbas a {
    background: var(--dark5);
    padding: 10px;
    border-radius: 2px;
    border: 2px solid var(--dark2);
    font-family: 'Hind';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    box-shadow: none;
    letter-spacing: 1.6px;
    color: var(--accent);
}
.HGSJT_blockmoderation {
    width: 100%;
    margin: 20px auto;
    font-family: 'Hind';
    font-style: normal;
    text-align: left;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    background-color: #1a1a1a;
    padding: 24px;
    color: var(--accent);
    font-weight: 600;
}
.HGSJT_blockmoderation a {
    color: var(--accent);
}
/** CATO HEADLINE **/
.hg_lastpost .color-groups strong::before {
	content: "Par";
	padding-right: 4px;
	color: var(--textcolor);
}

.cat_title_cat {
	text-align: center;
	display: flex;
	align-content: unset;
	margin: 16px auto 16px auto;
	height: 85px;
	border-radius: 8px;
	background: var(--dark1);
}

.cat_title_cat h2 {
	font-family: 'Ninja Naruto';
	font-style: normal;
	display: flex;
	font-weight: 400;
	font-size: 32px;
	align-content: center;
	line-height: 37px;
	font-size: 32px;
	margin: 20px 0 20px 20px;
	color: var(--accent);
	align-items: center;
}

/** CATO GLOBALE **/
.ash-categories {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(100px, auto);
	grid-auto-flow: row;
	gap: 16px;
}

.hg_cat_avatar img:before {
	position: relative;
	margin: 20px 0;
	width: 100px;
	left: -40px;
	padding: 20px 40px;
	box-sizing: border-box;
}

.hg_categories {
	background: #1a1a1a;
	width: max-width;
	height: 300px;
	display: -ms-grid;
	display: grid;
	position: relative;
	overflow: hidden;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

div[data-id="Parchemin du shinobi"] .hg_cat_stats,
div[data-id="Annonces"] .hg_cat_stats,
div[data-id="Services"] .hg_cat_stats,
div[data-id="Archives"] .hg_cat_stats,
div[data-id="Discussions"] .hg_cat_stats,
div[data-id="Partenariat"] .hg_cat_stats {
	//Hide stats;
	display: none;
}

div[data-id="Parchemin du shinobi"] .hg_forum_link a,
div[data-id="Annonces"] .hg_forum_link a,
div[data-id="Services"] .hg_forum_link a,
div[data-id="Archives"] .hg_forum_link a,
div[data-id="Personnage"] .hg_forum_link a,
div[data-id="Carnet du shinobi"] .hg_forum_link a,
div[data-id="Godaikoku"] .hg_forum_link a,
div[data-id="Sato"] .hg_forum_link a,
div[data-id="Yugakure"] .hg_forum_link a,
div[data-id="Jima"] .hg_forum_link a,
div[data-id="Jikukan"] .hg_forum_link a,
div[data-id="Tengai"] .hg_forum_link a,
div[data-id="Discussions"] .hg_forum_link a,
div[data-id="Partenariat"] .hg_forum_link a {
	font-family: 'Ninja Naruto';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 37px;
	color: #513A29;
}

div[data-id="Parchemin du shinobi"] .hg_lastpost,
div[data-id="Annonces"] .hg_lastpost,
div[data-id="Services"] .hg_lastpost,
div[data-id="Archives"] .hg_lastpost,
div[data-id="Personnage"] .hg_lastpost,
div[data-id="Carnet du shinobi"] .hg_lastpost,
div[data-id="Godaikoku"] .hg_lastpost,
div[data-id="Sato"] .hg_lastpost,
div[data-id="Yugakure"] .hg_lastpost,
div[data-id="Jima"] .hg_lastpost,
div[data-id="Jikukan"] .hg_lastpost,
div[data-id="Tengai"] .hg_lastpost,
div[data-id="Discussions"] .hg_lastpost,
div[data-id="Partenariat"] .hg_lastpost {
	display: inline-block;
	text-transform: uppercase;
	display: flex;
	position: relative;
	left: 24px;
	font-family: 'Hind';
	position: absolute;
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: var(--textcolor);
	justify-items: start;
	position: absolute;
	left: 80px;
	flex-direction: column-reverse;
	bottom: 20px;
}

.hg_cat_icon {
	display: none;
}

.hg_forum_link a {
	color: #d66a2f;
	font: 12px roboto;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*.hg_cat_desc
{
	padding: 10px 10px 10px 0px;
	overflow: auto;
	height: 55px;
	font: 10px roboto;
	font-weight:300;
	line-height: 11px;
}

*/
.hg_cat_stats {
	text-align: center;
	width: 90px;
	padding-top: 10px;
}

.hg_cat_statinter {
	text-transform: uppercase;
	font: 7px roboto;
	letter-spacing: 1px;
	padding: 5px 0px;
}

.hg_cat_statinter span {
	color: #d66a2f;
	letter-spacing: 0px;
}

.hg_cat_avatar {
	overflow: hidden;
	width: 40px;
	border-width: 0;
	outline: 6px solid #272727;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 100%;
	height: 40px;
}

.hg_cat_avatar img {
	width: 100%;
}

.hg_lastpost {
	text-align: center;
	text-transform: uppercase;
	display: flex;
	position: relative;
	left: 24px;
	font-family: 'Hind';
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	line-height: 16px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: var(--textcolor);
	line-height: 30px;
	justify-items: start;
	grid-column: 1/2;
	justify-content: flex-end;
	flex-direction: row-reverse;
	align-items: center;
	flex-wrap: wrap;
}

.hg_lastpost a {
	line-height: 0px;
}

.hg_lastpost img {
	position: absolute;
	margin: 25px 0px 0px 25px;
}

#hg_sousfo {
	font-size: 0px;
	transition: all 800ms;
}

#hg_sousfo a {
	color: var(--accent);
	font-family: 'Hind';
	font-style: normal;
	bottom: 64px;
	position: absolute;
	font-weight: 700;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: var(--dark5);
	padding: 4px;
	border-radius: 2px;
	border: 2px solid var(--dark2);
	display: inline-block;
	margin-right: 10px;
	transition: all 800ms;
	overflow: hidden;
	position: relative;
}

#hg_sousfo a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 2px;
	background: #1a1a1a;
	content: none;
	border-bottom: 1px solid #d66a2f;
	transform: translate3d(-101%, 0, 0);
	transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1);
}

#hg_sousfo a:hover:after {
	transform: translate3d(0, 0, 0);
}

.hg_cat_link {
	text-align: center;
	font: 10px roboto;
	text-transform: lowercase;
	padding-top: 25px;
}

.hg_cat_link a {
	margin: 0px 10px;
	font-style: italic;
	color: #b75711;
}

/** CATO HANDBOOK **/
div[data-id="Parchemin du shinobi"] .hg_forum_link a {
	font-size: 72px;
	top: 72px;
	position: relative;
	line-height: 96px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 2px;
	color: var(--accent);
}

div[data-id="Parchemin du shinobi"] {
	background: url(https://i.ibb.co/qjZnFcm/IMG-handbook.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	grid-column: 1/2;
	grid-row: 1/4;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 40px 1fr;
	width: 100%;
	height: 100%;
	padding: 0 0 0 40px;
	border-radius: 8px;
}

.parchemin-du-shinobi-content {
	width: 425px;
	font-family: 'Hind';
	font-style: normal;
	position: relative;
	top: 124px;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	text-align: left;
}

.parchemin-du-shinobi-links {
	display: flex;
	justify-content: space-between;
	font-family: 'Hind';
	font-style: normal;
	position: relative;
	font-weight: 700;
	top: 170px;
	margin-right: 64px;
	font-size: 16px;
	line-height: 26px;
	text-transform: uppercase;
	color: #A24E35;
}

div[data-id="Parchemin du shinobi"] .hg_cat_desc {
	//Remove overflow that hide the text content;
	overflow: inherit;
}

/** CATO SERVICES **/
div[data-id="Annonces"] .hg_cat_desc,
div[data-id="Services"] .hg_cat_desc,
div[data-id="Archives"] .hg_cat_desc {
	padding: 8px 0px 0px 0px;
	overflow: auto;
	height: 52px;
	display: flex;
	overflow: inherit;
	flex-direction: row;
	flex-wrap: nowrap;
}

div[data-id="Annonces"] .hg_cat_icon,
div[data-id="Services"] .hg_cat_icon,
div[data-id="Archives"] .hg_cat_icon {
	//Icon is hidden, but still as a width that screw the display;
	//width: 0;
	display: none !important;
}

div[data-id="Annonces"] .hg_lastpost a,
div[data-id="Services"] .hg_lastpost a,
div[data-id="Archives"] .hg_lastpost a {
	height: 20px;
	grid-column: 2/3;
	grid-row: 2/3;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

div[data-id="Annonces"] .hg_lastpost a:nth-of-type(2),
div[data-id="Services"] .hg_lastpost a:nth-of-type(2),
div[data-id="Archives"] .hg_lastpost a:nth-of-type(2) {
	position: absolute;
	width: max-content;
	font-size: 14px;
	bottom: 24px;
}

div[data-id="Annonces"] .hg_lastpost .color-groups strong,
div[data-id="Services"] .hg_lastpost .color-groups strong,
div[data-id="Archives"] .hg_lastpost .color-groups strong {
	padding-right: 4px;
}

div[data-id="Annonces"] .hg_lastpost,
div[data-id="Services"] .hg_lastpost,
div[data-id="Archives"] .hg_lastpost {
	display: inline-block;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	position: relative;
	left: 24px;
	font-family: 'Hind';
	position: absolute;
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: var(--textcolor);
	justify-items: start;
	position: absolute;
	left: 84px;
	flex-direction: row-reverse;
	bottom: 16px;
	line-height: 8px;
}

div[data-id="Annonces"] .hg_cat_blokinfo,
div[data-id="Services"] .hg_cat_blokinfo,
div[data-id="Archives"] .hg_cat_blokinfo {
	width: 100%;
}

.annonces-content,
.services-content,
.archives-content {
	font-family: 'Hind';
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 16px;
	text-align: justify;
	letter-spacing: -0.02em;
}

div[data-id="Annonces"],
div[data-id="Services"],
div[data-id="Archives"] {
	border-radius: 8px;
	display: flex;
	padding: 24px;
	margin-bottom: 0px;
	align-items: flex-start;
	height: 180px;
	justify-content: flex-start;
}

div[data-id="Annonces"] .hg_cat_avatar,
div[data-id="Services"] .hg_cat_avatar,
div[data-id="Archives"] .hg_cat_avatar {
	overflow: hidden;
	width: 40px;
	border-width: 0;
	outline: 6px solid #272727;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
	border-radius: 100%;
	bottom: 16px;
	height: 40px;
}

/** CATO HRPG **/
div[data-id="Discussions"] .hg_cat_desc,
div[data-id="Partenariat"] .hg_cat_desc {
	padding: 8px 0px 0px 0px;
	overflow: auto;
	height: 52px;
	display: flex;
	overflow: inherit;
	flex-direction: row;
	flex-wrap: nowrap;
}

div[data-id="Discussions"] .hg_cat_icon,
div[data-id="Partenariat"] .hg_cat_icon {
	//Icon is hidden, but still as a width that screw the display;
	//width: 0;
	display: none !important;
}

div[data-id="Discussions"] .hg_lastpost a,
div[data-id="Partenariat"] .hg_lastpost a {
	height: 20px;
	grid-column: 2/3;
	grid-row: 2/3;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

div[data-id="Discussions"] .hg_lastpost a:nth-of-type(2),
div[data-id="Partenariat"] .hg_lastpost a:nth-of-type(2) {
	position: absolute;
	width: max-content;
	font-size: 14px;
	bottom: 24px;
}

div[data-id="Discussions"] .hg_lastpost .color-groups strong,
div[data-id="Partenariat"] .hg_lastpost .color-groups strong {
	padding-right: 4px;
}

div[data-id="Discussions"] .hg_lastpost,
div[data-id="Partenariat"] .hg_lastpost {
	display: inline-block;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	position: relative;
	left: 24px;
	font-family: 'Hind';
	position: absolute;
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: var(--textcolor);
	justify-items: start;
	position: absolute;
	left: 84px;
	flex-direction: row-reverse;
	bottom: 16px;
	line-height: 8px;
}

div[data-id="Discussions"] .hg_cat_blokinfo,
div[data-id="Partenariat"] .hg_cat_blokinfo {
	width: 100%;
}

.Discussions,
.Partenariat {
	font-family: 'Hind';
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 16px;
	text-align: justify;
	letter-spacing: -0.02em;
}

div[data-id="Discussions"],
div[data-id="Partenariat"] {
	border-radius: 8px;
	display: flex;
	padding: 24px;
	margin-bottom: 0px;
	align-items: flex-start;
	height: 180px;
	justify-content: flex-start;
}

div[data-id="Discussions"] .hg_cat_avatar,
div[data-id="Partenariat"] .hg_cat_avatar {
	overflow: hidden;
	width: 40px;
	border-width: 0;
	outline: 6px solid #272727;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
	border-radius: 100%;
	bottom: 16px;
	height: 40px;
}

/** CATO MEMBRE RPG **/
div[data-id="Personnage"] .hg_cat_desc,
div[data-id="Carnet du shinobi"] .hg_cat_desc {
	padding: 32px 0px 0px 0px;
	overflow: auto;
	height: 52px;
	display: flex;
	overflow: inherit;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

div[data-id="Personnage"] .hg_cat_icon,
div[data-id="Carnet du shinobi"] .hg_cat_icon {
	//Icon is hidden, but still as a width that screw the display;
	//width: 0;
	display: none !important;
}

div[data-id="Personnage"] .hg_lastpost a,
div[data-id="Carnet du shinobi"] .hg_lastpost a {
	height: 20px;
	grid-column: 2/3;
	grid-row: 2/3;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

div[data-id="Personnage"] .hg_lastpost a:nth-of-type(2),
div[data-id="Carnet du shinobi"] .hg_lastpost a:nth-of-type(2) {
	position: absolute;
	width: max-content;
	font-size: 14px;
	bottom: 24px;
}

div[data-id="Personnage"] .hg_lastpost .color-groups strong,
div[data-id="Carnet du shinobi"] .hg_lastpost .color-groups strong {
	padding-right: 4px;
}

div[data-id="Personnage"] .hg_lastpost,
div[data-id="Carnet du shinobi"] .hg_lastpost {
	display: inline-block;
	text-transform: uppercase;
	display: flex;
	align-items: flex-start;
	position: relative;
	left: 24px;
	font-family: 'Hind';
	position: absolute;
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: var(--textcolor);
	justify-items: start;
	position: absolute;
	left: 174px;
	flex-direction: column-reverse;
	bottom: 124px;
	line-height: 8px;
}

div[data-id="Personnage"] .hg_cat_blokinfo,
div[data-id="Carnet du shinobi"] .hg_cat_blokinfo {
	width: 60%;
	text-align: left;
	position: absolute;
	bottom: 282px;
	height: fit-content;
}

div[data-id="Personnage"] .hg_cat_stats,
div[data-id="Carnet du shinobi"] .hg_cat_stats {
	background: var(--dark5);
	position: absolute;
	margin: 20px 0;
	width: 100%;
	bottom: 72px;
	height: 100px;
	padding: 20px 40px;
	box-sizing: border-box;
}

div[data-id="Personnage"] .hg_cat_statinter,
div[data-id="Carnet du shinobi"] .hg_cat_statinter {
	display: none;
}

.Personnage,
.Carnetdushinobi {
	font-family: 'Hind';
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	text-align: left;
	letter-spacing: -0.02em;
}

div[data-id="Personnage"],
div[data-id="Carnet du shinobi"] {
	border-radius: 8px;
	margin-bottom: 0px;
	display: flex;
	padding: 40px;
	height: 440px;
	align-items: flex-start;
	justify-content: center;
}

div[data-id="Personnage"] .hg_cat_avatar,
div[data-id="Carnet du shinobi"] .hg_cat_avatar {
	overflow: hidden;
	width: 40px;
	border-width: 0;
	outline: 6px solid #272727;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
	left: 108px;
	bottom: 124px;
	bottom: 124px;
	height: 40px;
}

div[data-id="Personnage"] #hg_sousfo,
div[data-id="Carnet du shinobi"] #hg_sousfo {
	font-size: 0px;
	text-align: center;
	transition: all 800ms;
}

div[data-id="Personnage"] #hg_sousfo a,
div[data-id="Carnet du shinobi"] #hg_sousfo a {
	color: var(--accent);
	font-family: 'Hind';
	font-style: normal;
	font-weight: 700;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	top: 340px;
	background: var(--dark5);
	padding: 4px;
	border-radius: 2px;
	border: 2px solid var(--dark2);
	display: inline-block;
	margin-right: 10px;
	transition: all 800ms;
	overflow: hidden;
}

/** CATO RP **/
div[data-id="Godaikoku"],
div[data-id="Sato"],
div[data-id="Yugakure"],
div[data-id="Jima"],
div[data-id="Jikukan"],
div[data-id="Tengai"] {
	margin-bottom: 16px;
    border-radius: 8px;
}

div[data-id="Godaikoku"] .hg_categories,
div[data-id="Sato"] .hg_categories,
div[data-id="Yugakure"] .hg_categories,
div[data-id="Jima"] .hg_categories,
div[data-id="Jikukan"] .hg_categories,
div[data-id="Tengai"] .hg_categories {
	background: #1a1a1a;
	width: 1100px;
	height: 300px;
	margin-bottom: 16px;
	display: -ms-grid;
	display: grid;
	position: relative;
	overflow: hidden;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

div[data-id="Godaikoku"] .hg_cat_blokinfo,
div[data-id="Sato"] .hg_cat_blokinfo,
div[data-id="Yugakure"] .hg_cat_blokinfo,
div[data-id="Jima"] .hg_cat_blokinfo,
div[data-id="Jikukan"] .hg_cat_blokinfo,
div[data-id="Tengai"] .hg_cat_blokinfo {
	height: 300px;
	padding: 32px;
	width: 1100px;
}

div[data-id="Godaikoku"] .hg_cat_desc,
div[data-id="Sato"] .hg_cat_desc,
div[data-id="Yugakure"] .hg_cat_desc,
div[data-id="Jima"] .hg_cat_desc,
div[data-id="Jikukan"] .hg_cat_desc,
div[data-id="Tengai"] .hg_cat_desc {
	font-family: 'Hind';
	font-style: normal;
	height: auto;
	font-weight: 600;
	font-size: 11px;
	line-height: 16px;
	text-align: justify;
}

div[data-id="Godaikoku"] .hg_cat_statinter,
div[data-id="Sato"] .hg_cat_statinter,
div[data-id="Yugakure"] .hg_cat_statinter,
div[data-id="Jima"] .hg_cat_statinter,
div[data-id="Jikukan"] .hg_cat_statinter,
div[data-id="Tengai"] .hg_cat_statinter {
	text-transform: uppercase;
	font: 7px roboto;
	letter-spacing: 1px;
	content: "\f4cb";
	height: 24px;
	width: 24px;
	padding: 5px 0px;
}

div[data-id="Godaikoku"] .hg_cat_avatar,
div[data-id="Sato"] .hg_cat_avatar,
div[data-id="Yugakure"] .hg_cat_avatar,
div[data-id="Jima"] .hg_cat_avatar,
div[data-id="Jikukan"] .hg_cat_avatar,
div[data-id="Tengai"] .hg_cat_avatar {
	overflow: hidden;
	width: 40px;
	border-width: 0;
	outline: 6px solid #272727;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
	border-radius: 100%;
	height: 40px;
	left: 24px;
	bottom: 32px;
}

div[data-id="Godaikoku"] .hg_lastpost a,
div[data-id="Sato"] .hg_lastpost a,
div[data-id="Yugakure"] .hg_lastpost a,
div[data-id="Jima"] .hg_lastpost a,
div[data-id="Jikukan"] .hg_lastpost a,
div[data-id="Tengai"] .hg_lastpost a {
	height: 20px;
	grid-column: 2/3;
	grid-row: 2/3;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

div[data-id="Godaikoku"] .hg_lastpost,
div[data-id="Sato"] .hg_lastpost,
div[data-id="Yugakure"] .hg_lastpost,
div[data-id="Jima"] .hg_lastpost,
div[data-id="Jikukan"] .hg_lastpost,
div[data-id="Tengai"] .hg_lastpost {
	display: inline-block;
	text-transform: uppercase;
	display: flex;
	align-items: flex-start;
	position: relative;
	left: 24px;
	font-family: 'Hind';
	position: absolute;
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: var(--textcolor);
	justify-items: start;
	position: absolute;
	left: 94px;
	flex-direction: column-reverse;
	bottom: 32px;
	line-height: 8px;
}

div[data-id="Godaikoku"] #hg_sousfo,
div[data-id="Sato"] #hg_sousfo,
div[data-id="Yugakure"] #hg_sousfo,
div[data-id="Jima"] #hg_sousfo,
div[data-id="Jikukan"] #hg_sousfo,
div[data-id="Tengai"] #hg_sousfo {
	font-size: 0px;
	text-align: right;
	transition: all 800ms;
}

div[data-id="Godaikoku"] #hg_sousfo a,
div[data-id="Sato"] #hg_sousfo a,
div[data-id="Yugakure"] #hg_sousfo a,
div[data-id="Jima"] #hg_sousfo a,
div[data-id="Jikukan"] #hg_sousfo a,
div[data-id="Tengai"] #hg_sousfo a {
	color: var(--accent);
	font-family: 'Hind';
	font-style: normal;
	bottom: 124px;
	right: 16px;
	font-weight: 700;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: var(--dark5);
	padding: 4px;
	border-radius: 2px;
	border: 2px solid var(--dark2);
	display: inline-block;
	margin-right: 10px;
	transition: all 800ms;
	overflow: hidden;
}

div[data-id="Godaikoku"] .hg_lastpost a:nth-of-type(2) {
	position: absolute;
	width: max-content;
	font-size: 14px;
	bottom: 24px;
}

div[data-id="Godaikoku"] .hg_cat_desc>img,
div[data-id="Sato"] .hg_cat_desc>img,
div[data-id="Yugakure"] .hg_cat_desc>img,
div[data-id="Jima"] .hg_cat_desc>img,
div[data-id="Jikukan"] .hg_cat_desc>img,
div[data-id="Tengai"] .hg_cat_desc>img {
	width: 816px;
	height: 300px;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 282px;
	border-radius: 0;
	mix-blend-mode: overlay;
	-webkit-filter: grayscale(1) contrast(0.2);
}

.RP-desc {
	width: 236px;
    margin-top: 16px;
}

/* FOOTER */

.akatsuki {
  color: var(--akatsuki);
}
.ototsuki {
  color: var(--ototsuki);
}
.nukenin {
  color: var(--nukenin);
}
.shinobi {
  color: var(--shinobi);
}

.text-accent {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
color: var(--accent);
}
.text-jp {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
color: var(--dark3);
}
.text-subcent {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
color: var(--textcolor);
}

.footer {
  width: 150%;
  position: relative;
  margin-left: -10px;
  left: -233px;
  top: 48px;
  background-image: url(https://i.ibb.co/CvCf2gK/footer.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  margin-left: 0px;
  overflow: hidden;
  align-left: 0px;
  justify-content: center;
  flex-direction: column;
}

.footer-end {
  margin: 64px 0px 24px 0px;
  display: flex;
  align-items: flex-start;
}
.footer-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  height: auto;
}
.container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  background: var(--dark4);
  height: 100%;
  border-radius: 0px 16px 0px 0px;
}

.bstats-grp {
  font-family: 'Ninja Naruto';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  display: flex;
  text-align: center;
  width: 24%;
  line-height: 44px;
  color: var(--accent);
  text-align: center;
  flex-direction: column;
}

.bstats-main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 86px;
  align-items: flex-start;
  flex-direction: row;
  padding: 246px 0px 0px 48px;
  align-content: center;
}
.bstats-title {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  padding: 4px;
  width: fit-content;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--accent);
  background: var(--dark5);
  border: 2px solid var(--bgcolor);
  border-radius: 2px;
}
.bstats-1 {
box-sizing: border-box;
width: 200px;
position: relative;
}

.bstats-links {
margin: 30px 0px 20px 0px;
line-height: 200%;
}

.bstats-links a {
display: block;
  font-family: 'Hind';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 26px;

letter-spacing: 0.08em;
text-transform: uppercase;

color: var(--accent);
}

.bstats-links i {
  font-size: 16px;
  padding-right: 8px;
  text-transform: uppercase;
  color: var(--subcent);
  width: 24px;
  height: 24px;
}

.bstats-newest-reg {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  padding: 8px;
  letter-spacing: 0.08em;
  background: var(--dark5);
  border: 2px solid var(--bgcolor);
  border-radius: 2px;
  text-transform: uppercase;
  color: var(--accent);
}

.bstats-newest-reg b {
  font-family: 'Ninja Naruto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  
  text-align: justify;
  text-transform: uppercase;
  
  color: #907AAB;
}

.bstats-2 {
width: 380px;
position: relative;
margin: 0px 40px;
}

.bstats-online-now {
  font-family: 'Ninja Naruto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  margin: 24px 0px 24px 0px;
  line-height: 15px;
  text-align: justify;
  text-transform: uppercase;
}

.bstats-online-nstats {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--accent);
  font-weight: 600;
  letter-spacing: 1px;
  padding: 8px 0px;
  border-top: border: 1px solid #777777;
  border-top: 1px solid var(--bgcolor);
  border-bottom: 1px solid var(--bgcolor);
}

.bstats-online-nstats span {
margin-right: 10px;
}

.bstats-online-24 {
  font-family: 'Hind';
  font-style: normal;
  margin-top: 24px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: justify;
  text-transform: uppercase;
}

.bs3-box {
color: var(--shell);
width: 70px;
height: 70px;
border: 1px solid #988c83;
background: #5d544b7a;
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 8px;
font-family: Poppins;
text-transform: uppercase;
font-weight: 800;
margin-bottom: 10px;
}

.affiliates {
  padding: 30px;
  width: 1140px;
  display: flex;
  border-sizing: border;
}

.top-affiliates img {
  object-fit: cover;
  width: 456px;
  height: 224px;
  border: 1px solid #222222;
  box-sizing: border-box;
  margin-right: 24px;
}

.static-affiliates {
  width: 660px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}
.static-affiliates a {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border: 1px solid #222222;
  gap: 8px;
}
.chatbox {
  width: 456px;
  height: 258px;
  padding: 30px;
  align-items: center;
  border-sizing: border;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  gap: 10px;
}
.cb-rules {
  display: flex;
  justify-content: center;
  text-align: justify;
  font-family: 'Hind';
  gap: 8px;
  font-style: normal;
  font-size: 14px;
  color: var(--textcolor);
  align-content: center;
}
.cb-rules div {
  flex: 1 1 80px;
  margin: 4px;
  flex-basis: auto;
  height: auto;
}
.cb-rules b {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 26px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
color: var(--accent);
}
.cb-rules #cb-nbr {
  font-family: 'Ninja Naruto';
  font-style: normal;
  font-weight: 400;
  height: fit-content;
  margin-top: 8px;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--subcent);
}

/* FOOTER CREDITS */
#page-footer, div.navbar, div.navbar ul.linklist {
  display: block !important;
  background: none;
  background: var(--dark1);
  top: 0;
}
.footerbar-system {
  padding: 8px 0 0;
  font-size: 10px;
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.footerbar-system, .footerbar-user {
  color: var(--dark1);
  clear: both;
  height: 40px;
  padding: 0px;
  display: block;
  font-size: 10px;
  font-size: 10px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.footerbar-system li {
  margin: 0 16px 0 0;
}