/* INFINITE TSUKUYOMI THEME BEGIN*/
/* Scrollbar */

::-webkit-scrollbar { /*taille dans les messages ou fiches */
  height: 2px;
  width: 4px;
  background-color: #171717; /* couleur de fond */
}
html > ::-webkit-scrollbar {
  width: 6px; /* largeur de la barre du forum */
}
::-webkit-scrollbar-thumb {
  background: #A24E35; /* couleur de la barre qui se déplace */
  border-radius: 50px;  /* Arrondis */
}
::-webkit-scrollbar-track-piece {
  background-color: #171717; /* couleur de fond */
}
#wrap {
    margin: 0 auto;
    width: 1160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ROOT */
:root {
	--bgcolor: #232323;
    --dark1: #171717;
    --dark2: #272727;
    --dark3: #373737;
    --dark4: #202020;
    --accent: #a24e35;
    --subcent: #513a29;
    --tricent: #9e6148;
    --spungold: #76563e;
    --textcolor: #8a8a8a; 

    --akatsuki: #D45C4C;
    --ototsuki: #B5CBDE;
    --nukenin: #907AAB;
    --shinobi: #BD845C;
}

#page-header {
  z-index: 99 !important;
}
#logo img {
    width: 100vh;
}
a:link, a:visited, a:active {
	text-decoration: none;
	color: var(--accent);
	transition: all ease 0.4s;
}

a:hover {
  color: var(--accent);
}

select {
	color: var(--textcolor);
	background: var(--dark2);
	border-radius: 0px;
	border: 2px solid var(--subcent);
	font-family: 'Hind';
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 3px 5px 2px 5px;
}

/* TOOLTIP */

#s-m-t-tooltip {
	max-width: 300px;
	z-index: 999;
	margin: 8px 14px 7px 12px;
	padding: 5px 8px;
	border: 1px solid var(--bgcolor);
	background: var(--second);
	font-size: 8px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	color: var(--bgcolor);
}


body {
  box-sizing: border-box;
  font-family: inter var;
  font-size: 12px;
  color: var(--text);
  margin: 0; padding: 0;
  background-size: 300px 300px;
  background-image:
    linear-gradient(to right, #12121210 1px, transparent 1px),
    linear-gradient(to bottom, #12121210 1px, transparent 1px);
  background-position: 50% 0%;
  background-attachment: fixed;
  overflow-x: hidden;
}

/* NAV */
.navigation {
  position: fixed;
  width: 60px;
  height: 100vh;
  background-color: var(--dark1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 10px;
  z-index: 999;
}
.js-avatar {
  overflow: hidden;
  margin: 15px auto 20px auto;
  width: 40px;
  height: 40px;
  background-color: var(--dark1);
  background-size: cover;
  border-radius: 100%;
  border: 3px solid var(--dark4);
}
.js-avatar img {
width:100%;
background-blend-mode: color-burn;
transition: all ease 0.3s;
}
.js-avatar img:hover {
  width:100%;
  opacity: 0.75;
  }
.it-name {
    position: relative;
    width: 45px;
    height: 250px;
}
.it-name span {
    display: block;
    transform: rotate(-90deg);
    transform-origin: top left;
    position: absolute;
    height: 45px;
    width: 250px;
    top: 250px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#pseudo_menu {
    color: var(--accent);
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    top: 1px;
    font-family: 'Hind', sans-serif;
}
.itnav-links {
    margin: 30px 0;
    font-size: 18px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--subcent);
    align-items: center;
}
.topnav-tray {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 75px);
    position: relative;
    transition: all ease 0.4s;
}
.itnav-links a { margin-bottom: 15px; }
.e_nav{
  display:flex;
}
.e_nav_ava{
  width:100px;
  height:100px;
}
.e_menu{
  display:flex;
  align-items:center;
}
.itnav-links li {
  list-style-type: none;
  margin-bottom: 8px;
}
.itnav-links a[href="/"] {
	display: none !important;
}
.itnav-links a[href="/"]:before {
    content: "\f0e0";
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
}
.itnav-links a[href="/calendar"] {
display: none !important;
}
.itnav-links a[href="/faq"] .text {
display: none !important;
}
.itnav-links a[href="/faq"]:after { 
display: none !important;
}
.itnav-links a[href="/search"]:after {
display: none !important;
}
.itnav-links a[href="/groups"]:before {
display: none !important;
}
.itnav-links img {
  display: none !important;
}
.itnav-links a:before {
  color: var(--subcent);
}
.itnav-links a:hover::before {
  color: var(--dark3)!important;   transition: all ease 0.4s;
}
.itnav-links a[href="/admin/?part=admin&tid=64b7dde79b848559adc7928c63f5a4"]:before { 
font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f023";font-size: 16px;
}
.itnav-links a[href*="/f13-mission-kioske"]:before {
font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f70e";font-size: 16px;
}
.itnav-links a[href="/memberlist"]:before {
font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f504";font-size: 16px;
}
.itnav-links a[href*="/profile"]:before {
font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f52d";font-size: 16px;
}
.itnav-links a[href*="/privmsg"]:before {
font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0e0";font-size: 16px;
}
.itnav-links a[href*="/login"]:before {
font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f52b"; font-size: 16px;
}
.itnav-links a[href*="/login?logout"]:before {
font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f52a"; font-size: 16px;
}
.itnav-links a[href*="/register"]:before {
font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f520";font-size: 16px;
}

/*Header*/
#it-header {
  width: 100%;
  height: 100vh;
  top: 40px;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1; -moz-opacity: 1;
  transition: all ease 1s;
  pointer-events: none;
}

.headerfade {
  filter: grayscale(100%);
  visibility: hidden!important;
  opacity: 0!important; -moz-opacity: 0!important;
  transition: all ease 1.5s;
}

.it-header-img {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url('https://i.ibb.co/5rp7DX4/BAN-madara.png');
    background-size: 48%;
    background-repeat: no-repeat;
    mix-blend-mode: ;
    z-index: 1;
    background-position: center;
  margin-bottom: -20px;
}

.it-header-title {
    width: 550px;
    letter-spacing: -5px;
    font-family: 'Ninja Naruto';
    font-style: normal;
    font-weight: 400;
    padding-top: 360px;
    font-size: 96px;
    line-height: 70px;
    text-align: center;
    color: #C1BDAC;
    z-index: 2;
}
h1 {
    position: relative;
    z-index: 2;
    font-family: 'Ninja Naruto';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 106px;
    text-align: center;
    text-shadow: 0px 4px 4px rgb(55 55 55 / 24%);
    margin-top: -90px;
    color: #C1BDAC;
}
h2 {
    font-family: 'Hind';
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 12px;
    text-transform: uppercase;
    ser-select: none;
    position: relative;
    z-index: 2;
    color: #C1BDAC;
    text-shadow: 0px 4px 4px rgb(55 55 55 / 24%);
}
.it-title-img {
    width: 40px;
    margin: auto;
    height: 40px;
    background-image: url(https://i.ibb.co/n8vvHBC/BAN-shuriken.png);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
}

/**CATO JS + FLEX**/
.ash-categories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: row;
    gap: 10px;
}
div[data-id="Godaikoku"] .hg_cat_desc,
div[data-id="Sato"] .hg_cat_desc,
div[data-id="Yugakure"] .hg_cat_desc,
div[data-id="Jima"] .hg_cat_desc,
div[data-id="Jikukan"] .hg_cat_desc,
div[data-id="Tengai"] .hg_cat_desc {
    padding: 0px 40px 10px 0px;
    overflow: auto;
    width: 220px;
    font-family: 'Hind';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    text-align: justify;
    letter-spacing: -0.02em;
    font: 10px roboto;
    font-weight: 300;
    line-height: 14px;
}
div[data-id="Parchemin du shinobi"] .hg_cat_stats,
div[data-id="Annonces"] .hg_cat_stats,
div[data-id="Services"] .hg_cat_stats,
div[data-id="Archives"] .hg_cat_stats {
  //Hide stats;
  display: none;
}

div[data-id="Parchemin du shinobi"] .hg_cat_desc,
div[data-id="Annonces"] .hg_cat_desc,
div[data-id="Services"] .hg_cat_desc,
div[data-id="Archives"] .hg_cat_desc {
  //Remove overflow that hide the text content;
  overflow: inherit;
}

div[data-id="Parchemin du shinobi"] .hg_forum_link a,
div[data-id="Annonces"] .hg_forum_link a,
div[data-id="Services"] .hg_forum_link a,
div[data-id="Archives"] .hg_forum_link a,
div[data-id="Personnage"] .hg_forum_link a,
div[data-id="Carnet du shinobi"] .hg_forum_link a,
div[data-id="Godaikoku"] .hg_forum_link a,
div[data-id="Sato"] .hg_forum_link a,
div[data-id="Yugakure"] .hg_forum_link a,
div[data-id="Jima"] .hg_forum_link a,
div[data-id="Jikukan"] .hg_forum_link a,
div[data-id="Tengai"] .hg_forum_link a,
div[data-id="Discussions"] .hg_forum_link a, div[data-id="Partenariat"] .hg_forum_link a {
    font-family: 'Ninja Naruto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    color: #513A29;
}

div[data-id="Parchemin du shinobi"] .hg_forum_link a {
  font-size: 72px;
  line-height: 83px;
}

div[data-id="Annonces"] .hg_cat_icon,
div[data-id="Services"] .hg_cat_icon,
div[data-id="Archives"] .hg_cat_icon {
  //Icon is hidden, but still as a width that screw the display;
  //width: 0;
  display: none!important;
}

div[data-id="Annonces"] .hg_cat_blokinfo,
div[data-id="Services"] .hg_cat_blokinfo,
div[data-id="Archives"] .hg_cat_blokinfo {
  padding-left: 0; //32px;
}

div[data-id="Annonces"],
div[data-id="Services"],
div[data-id="Archives"] {
  border: 1px solid #171717;
  border-radius: 16px;
}

.annonces-content, .services-content, .archives-content {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  text-align: justify;
  letter-spacing: -0.02em;
}
  
div[data-id="Parchemin du shinobi"] {
  background: url(https://i.ibb.co/qjZnFcm/IMG-handbook.png); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1/2;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr;
  width: 100%;
  height: 590px;
  padding: 0 0 0 40px;
}

.parchemin-du-shinobi-content {
  width: 365px;
    font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
}

.parchemin-du-shinobi-links {
  display: flex;
  justify-content: space-between;
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #A24E35;
}

div[data-id="Annonces"] {
  //background-color: green;
}

div[data-id="Services"] {
  //background-color: blue;
}

/* CATEGORY */
.cat_title_cat {
    text-align: center;
    display: flex;
    align-content: unset;
    margin: 20px auto 40px auto;
    height: 85px;
    border-radius: 16px;
    background: var(--dark1);
}

.cat_title_cat h2 {
    font-family: 'Ninja Naruto';
    font-style: normal;
    display: flex;
    font-weight: 400;
    font-size: 32px;
    align-content: center;
    line-height: 37px;
    font-size: 32px;
    margin: 20px 0 20px 20px;
    color: var(--accent);
    align-items: center;
}
.hg_categories {
  background: #1a1a1a;
  padding: 20px 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.hg_cat_icon {
display:none;
}
.hg_cat_blokinfo {
  width: 430px;
  text-align: justify;
  padding-left: 10px;
}
.hg_forum_link a {
  color: #d66a2f;
  font: 12px roboto;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.hg_cat_desc {
  padding: 10px 10px 10px 0px;
  overflow: auto;
  height: 55px;
  font: 10px roboto;
  font-weight:300;
  line-height: 11px;
}
.hg_cat_stats {
  text-align: center;
  width: 90px;
  padding-top: 10px;
}
.hg_cat_statinter {
  text-transform: uppercase;
  font: 7px roboto;
  letter-spacing: 1px;
  padding: 5px 0px;
}
.hg_cat_statinter span {
  color: #d66a2f;
  letter-spacing: 0px;
}
.hg_cat_avatar {
  overflow: hidden;
  width: 80px;
  border-width: 0;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 100%;
  height: 80px;
}
.hg_cat_avatar img {
  width:100%;
}
.hg_lastpost {
  width: 160px;
  text-align: center;
  text-transform: uppercase;
  font: 9px roboto;
  line-height: 30px;
}
.hg_lastpost a {
  line-height: 0px;
}
.hg_lastpost img {
  position: absolute;
  margin: 25px 0px 0px 25px;
}
#hg_sousfo {
  padding-left: 36px;
  font-size: 0px;
  transition: all 800ms;
}
#hg_sousfo a {
  color: #d66a2f;
  font: 10px roboto;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin-right: 10px;
  transition: all 800ms;
  overflow: hidden;
  position: relative;
}
#hg_sousfo a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #1a1a1a;
  content: \"\";
  border-bottom: 1px solid #d66a2f;
  transform: translate3d(-101%,0,0);
  transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1);
}
#hg_sousfo a:hover:after {
transform: translate3d(0,0,0);
}
.hg_cat_link {
  text-align: center;
  font: 10px roboto;
  text-transform: lowercase;
  padding-top:25px;
}
.hg_cat_link a {
  margin: 0px 10px;
  font-style: italic;
  color:#b75711;
}

/* FOOTER 
.akatsuki {
    color: var(--akatsuki);
}
.ototsuki {
    color: var(--ototsuki);
}
.nukenin {
    color: var(--nukenin);
}
.shinobi {
    color: var(--shinobi);
}

.text-accent {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
	color: var(--accent);
}
.text-jp {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
	color: var(--dark3);
}
.text-subcent {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
	color: var(--textcolor);
}
*/